# your env file should look likewise
DB_HOST=localhost
DB_USER=your_mysql_user #default->root
DB_PASS=your_mysql_password
DB_NAME=ic_nitp_db
JWT_SECRET=yourjwtsecret
PORT=5000
ALLOWED_ORIGINS=allowedOrigin1,allowedOrigin2,allowedOrigin3
SUPER_ADMIN_EMAIL=yoursuperadminemail
SUPER_ADMIN_PASSWORD=yoursuperadminpassword
NODE_ENV=development